{% extends 'base.html' %}

{% block title %}
    Uganda Hospital
{% endblock title %}
{% load static %}





{% block content %}
 <section class="banner-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <h1>Making Health<br>
                    Care Better Together</h1>
                    <p>Also you dry creeping beast multiply fourth abundantly our itsel signs bring our. Won form living. Whose dry you seasons divide given gathering great in whose you'll greater let livein form beast  sinthete
                    better together these place absolute right.</p>
                    <a href="{% url 'make_appointment' %}" class="main_btn">Make an Appointment</a>
                    <a href="{% url 'speciality_list' %}" class="main_btn_light">View Specialities</a>
                </div>
            </div>
        </div>
 </section>
{% endblock content %}